.city_container
  %form.city
    %input{placeholder: "Type City Here", id: "city"}
    %input{type: "submit"}



.container

  .meter
    %h2
      Meters
    %ol

  .savings
    %h2
      Total Savings
      .total
    %h2
      Water Savings
      .water
    %h2
      Electricity Savings
      .electric
    %h2
      Gas Savings
      .gas


