.city_container
  %form.city
    %input{placeholder: "Type City Here", id: "city"}
    %input{type: "submit"}
    .city-name

%h2
  That city could not be found

.container
  .meter
    %h3
      Meters
    %ol

  .savings
    %h3
      Total Savings
      .total
    %h3
      Water Savings
      .water
    %h3
      Electricity Savings
      .electric
    %h3
      Gas Savings
      .gas


