%form.city
  %input{placeholder: "Type City Here", id: "city"}
  %input{type: "submit"}

.container

  .meters-template
    .meters
      %h2
        Meters
      %ul
        %li
          Meter

  .savings-template
    .savings
      %h2
        Total Savings
        .total
      %h2
        Water Savings
        .water
      %h2
        Electricity Savings
        .electric
      %h2
        Gas Savings
        .gas


